.card {
  background: rgba(253, 163, 163, 0.911);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 50px;
  font-size: x-large;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Ubuntu', sans-serif;


  margin: 0 auto;
  margin-top: 3.5rem;

  width: fit-content;
  height: fit-content;
  max-width: 90%;
  min-width: 30%;

}