@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Ubuntu&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  padding-bottom: 5%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;



  /* background-color: #e7dede; */
  text-align: center;
  background-image: url("./Online_Shoping_28.jpg");
  background-image: cover;
  background-size: 100%;
  /* background-repeat: no-repeat; */
}